body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    padding: 1rem;
    background-color: #eee;
    font-size: smaller;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

h2 {
    color: navy;
    text-align: center;
    grid-column: 1 / 3;
}

article p {
    text-align: justify;
}

.callout {
    color: #000000;
    background-color: skyblue;
    padding: 1rem;
    grid-column: 1 / -1;

}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}