@media screen and (max-width: 600px) {

    body {
        padding: 0 10px;
    }

    .fleet-gallery {
        flex-direction: column;
        align-items: center;
    }

    .car-card {
        width: 95%;
        max-width: 350px;
    }

    .address-media {
        flex-direction: column;
        align-items: center;
    }

    .address-media img,
    .address-media iframe {
        width: 100%;
        max-width: 95%;
        height: auto;
    }

    form {
        width: 100%;
        max-width: 95%;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        margin: 5px 0;
        display: inline-block;
        padding: 1em;
    }
}